/*BEE-spirational colours
https://coolors.co/6b9c3f-41b4c3-fcde1c-c17a48-843521*/

/*green: 
hsla(92, 60%, 35%, 1);
blue: 
hsla(187, 67%, 44%, 1);
yellow: 
hsla(52, 89%, 55%, 1);
light brown: 
hsla(25, 63%, 58%, 1);
dark choco: 
hsla(12, 75%, 27%, 1);
*/

/*header of page*/
header {
	background-color: hsla(25, 63%, 58%, 1);
}

/*sign in box*/
.loginbox {
	background-color: hsla(351, 0%, 74%, 0.4);
}

.loginbox .container {
	background-color: hsla(92, 60%, 35%, 1);
}

/*footer of page*/
footer {
	background-color: hsla(187, 67%, 44%, 1);
}

.subscribe {
	background-color: hsla(25, 63%, 58%, 1);
}

/*index page*/
body {
	background-color: white;
}

.article {
	background-color: hsla(52, 89%, 55%, 1);
}

#bookingForm {
	background-color: hsla(52, 89%, 55%, 1);
}

.persuasion {
	background-color: hsla(92, 60%, 35%, 1);
}

/*green: 
hsla(92, 60%, 35%, 1);
blue: 
hsla(187, 67%, 44%, 1);
yellow: 
hsla(52, 89%, 55%, 1);
light brown: 
hsla(25, 63%, 58%, 1);
dark choco: 
hsla(12, 75%, 27%, 1);
*/

/*search page*/
#searchMain {
	background-color: hsla(25, 63%, 58%, 1);
}
.options {
	background-color: hsla(52, 89%, 55%, 1);
}

.filter, .sort, .perpage {
	background-color: hsla(187, 67%, 44%, 1);
}

li:hover {
	background-color: blanchedalmond;
}

.result {
	background-color: white;
}

