/*this is a pastebin

div {
	outline: solid black;
}

*/

body {
	background-color: white;
	margin:0;
	padding:0;
}

/*the header bar at the top of the page*/
header {
	display: flex;
	justify-content: space-between;
	background-color: grey;
	height: 50px;
	padding: 10px;
}

div.logo {
	display: flex;
	justify-content: left;
	align-items: center;
}

div.signup {
	display: flex;
	justify-content: right;
	align-items: center;
}

header h1 {display: inline-block; width: 200px; color: yellow;}

header button {
	display: inline-block;
	margin:5px;
}

/*the secondary information bar at the top*/
div.destination {
	display:flex;
	flex-direction: column;
	width:100%;
	height:200px;
	padding:10px;
	background-image: url(example.com);
	background-position:50% 50%; 
	background-size:cover; 
	justify-content: space-between;
}


.description p {padding:0; margin:5px;}

.preferences p {
	font-size: 15px;
	padding:0;
	margin:0;
}

/*the filter for the search results*/
.filter {

}

.filter ul {
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;
}

.filter ul li, .filter ul li ul li{
	float:left;
	display: block;
	text-align: center;
	padding: 15px;
	text-decoration: none;
}

.filter ul li ul {
	display: none;
}

li:hover {
	background-color: blanchedalmond;
}


/*the booking form in the body of the document*/
main {
	display: flex;
	padding:10px;
	justify-content: space-between;
	align-items: top;
	height:auto;
	width: 100%;
	height:auto;
	background-color: blanchedalmond;
}

.reslist {
	display: grid;
	width:auto;
	height:auto;
	grid-template-rows: 400px;
	grid-template-columns: minmax(300px, 400px) minmax(300px, 400px);
	grid-auto-columns: minmax(300px, 400px) minmax(300px, 400px);
	grid-auto-rows: 400px;
	grid-gap: 5px;
}

.result {
	display: flex;
	margin: 5px;
	flex-direction: column;
	padding:10px;
	overflow:hidden;
	background-color: white;
}

.result div.image {
	width:240px;
	height:160px;
	border: solid black;
	background-image: url(./volcano.JPG);
	background-position:50% 50%; 
	background-size:cover; 
	padding: 0;
	margin: 0 auto;
}

.result div.information {
	text-align: left;
	padding:10px;

}

.information p {
	font-size: 14px;
	padding:0;
	margin:0;
}
.information h3 {
	font-size: 20px;
	padding:0;
	margin:0;
}

.information .amenities p {
	display: inline-block;
	font-size: 14px;
}

.information .amenities ul {
	display: inline-block;
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;
}

.information .amenities ul li {
	float:left;
}

.mapSearch {
	border: solid black;
	width:500px;
	height:500px;
	display: fixed;
	/*insert google maps here*/
}

/*page list*/
.pageList {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pageList button {
	display: inline-block;
}

.pageList ul {
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;
}

.pageList ul li{
	float:left;
	/*
	display: block;
	color; somecolor:
	text-align: center;
	padding: somepixels
	textdecoration: none*/
}


/*footer mailing list and shit*/

footer {
	background-color: lightblue;
}

.references {
	padding:10px;
}

.references h4 {
	font-size: 20px;
	padding:0;
	margin:0;
}

.subscribe {
	background-color: white;
	height: 70px;
	padding: 10px;
}

.subscribe h3 {
	margin:0;
	margin-bottom: 5px;
	padding:0;
}
.subscribe p {
	display: inline-block;
	margin:0;
	padding:0;
	height:30px;
}
.subscribe input {
	display: inline-block;
	margin:0;
	padding:0;
	font-size: 20;
	width:60%;
	height:30px;
}

div.final {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

div.accessibility {
	display:flex;
	justify-content: right;
	align-items: center;
}
.copyright {
	display: inline-block;
	padding:0;
	margin:0;
}

.accPrompt {
	display: inline-block;
	padding:0;
	margin:10px;
	width:170px;
}

.accessibility nav select {
	display: inline-block;
	padding:0
	margin:10px;
	float:right;
}
