/*BEE-spirational colours
lang="en"
https://coolors.co/6b9c3f-41b4c3-fcde1c-c17a48-843521*/

/*Bee webpage from colour picker
cream:
rgb(249,248,244);
brown:
rgb(55,43,43);
yellow:
rgb(243,178,62);
*/

/*booking form css*/
#bookingForm {
	background-color: rgb(243,178,62);
}

/*login form css*/
.loginbox {
	background-color: rgba(255, 255, 255, 0.48);
}

.loginbox .container {
	background-color: rgb(249,248,244);
}

/*search page*/
.result {
	background-color: rgb(249,248,244);
}

.sort ul li, .perpage ul li, .filter ul li, .detailedFilter div ul li, {
	background-color: rgb(243,178,62);
}

/*header of page*/
header {
	background-color: rgb(55,43,43);
	color: rgb(243,178,62);
}

/*footer of page*/
footer {
	background-color: rgb(55,43,43);
	color: white;

.subscribe {
	background-color: rgb(243,178,62);
	/*color: white;*/
}

/*index page*/
body {
	background-color: white;
}

.article {
	background-color: hsla(52, 89%, 55%, 1);
}

#bookingForm {
	background-color: hsla(52, 89%, 55%, 1);
}

.persuasion {
	background-color: rgb(243,178,62);
}

/*green: 
hsla(92, 60%, 35%, 1);
blue: 
hsla(187, 67%, 44%, 1);
yellow: 
hsla(52, 89%, 55%, 1);
light brown: 
hsla(25, 63%, 58%, 1);
dark choco: 
hsla(12, 75%, 27%, 1);
*/

/*search page*/
#searchMain {
	background-color: hsla(25, 63%, 58%, 1);
}
.options {
	background-color: hsla(52, 89%, 55%, 1);
}

.filter, .sort, .perpage {
	background-color: hsla(187, 67%, 44%, 1);
}

li:hover {
	background-color: blanchedalmond;
}
/*parse error
.result {
	background-color: white;
}
*/

