/*header bar at the top of the page*/
header {
	display: flex;
	height: 50px;
	padding: 10px;
	justify-content: space-between;
}

div.logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

div.signup {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

header h1 {
	display: inline-block; 
	width: 200px; 
	color: yellow;
}

header button {
	display: inline-block;
	margin: 5px;
}

/*booking form css*/
.container h2 {
	padding-top: 5px;
	padding-bottom: 5px;
}

.loginbox {
	z-index: 10;
	position: fixed;
	top:-50px;
	display: none; /*none or flex*/
	justify-content: center;
	width: 100%;
	height: 300%;
	border: solid black;
}

.loginbox .container {
	margin: 200px auto;
	margin-bottom: 0;
	width:220px;
	padding:10px;
	height: 380px;
	border: dotted pink;
}

.container input {
	width: 100%;
	padding: 7px 15px;
	margin: 8px 0;
	display: inline-block;
	box-sizing: border-box;
}

.login input {
	width: 100%;
	padding: 7px 15px;
	margin: 8px 0;
	display: inline-block;
	box-sizing: border-box;
}

/*footer including mailing list, links, etc*/

.references {
	display: flex;
	padding:30px 3%;
	justify-content: space-around;
}

.reference {
	text-align: center;
	width: 250px;
	margin: 0 5px;
}

.reference ul {
	text-align: left;
	margin-left: 10%;
}

.reference h4 {
	font-size: 20px;
	padding:0;
	margin:0;
}

.subscribe {
	height: 70px;
	padding: 20px 10px;
}

.subscribe h3 {
	margin:0;
	margin-left: 3%;
	padding:0;
	margin-bottom: 5px;
}
.subscribe p {
	display: inline-block;
	height:30px;
	margin-left:5%;
	padding:0;
}
.subscribe input {
	display: inline-block;
	height:30px;
	width:70%;
	margin:0;
	padding:0;
	font-size: 15px;
}

div.final {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

div.accessibility {
	display:flex;
	justify-content: flex-end;
	align-items: center;
}
.copyright {
	display: inline-block;
	padding:0;
	margin:0;
}

.accessibility .prompt {
	margin-right: 20px;
}

.accessibility nav select {
	display: inline-block;
	padding: 0;
	margin: 10px;
	float: right;
}
