/*this is a pastebin

div {
	outline: solid black;
}

*/

body {
	background-color: white;
	margin:0;
	padding:0;
}

/*the header bar at the top of the page*/
header {
	display: flex;
	justify-content: space-between;
	background-color: grey;
	height: 50px;
	padding: 10px;
}

div.logo {
	display: flex;
	justify-content: left;
	align-items: center;
}

div.signup {
	display: flex;
	justify-content: right;
	align-items: center;
}

header h1 {display: inline-block; width: 200px; color: yellow;}

header button {
	display: inline-block;
	margin:5px;
}

/*the booking form in the body of the document*/
main {
	display: flex;
	justify-content: center;
	align-items: center;
	height:700px;
	background-image: url(./volcano.JPG);
	background-position:50% 50%; 
	background-size:cover; 
}
#bookingForm {
	display: grid;
	grid-template-areas: "dest dest dest"
	"checkIn checkOut guestCount"
	"submit submit submit";
	grid-template-rows: 2fr 2fr 1fr;
	grid-template-columns: 2fr 2fr 1fr;
	
	background-color: rgba(222, 152, 234,0.5);
	align-content: space-evenly;
	align-items: stretch;
	justify-content: space-evenly;
	justify-items: stretch;
	height:180px;
	width: 410px;
	margin: 30px auto;
}

#bookingForm div {
	text-align: center;
	padding: 10px; 
	margin:0;
}

#bookingForm div input {display: inline-block; margin: 0 auto;}
#bookingForm div p {display: inline-block; margin: 0 auto; }

div.dest {grid-area: dest;}
div.in {grid-area: checkIn;}
div.out {grid-area: checkOut;}
div.manCount {grid-area: guestCount;}
div.submit {grid-area: submit;}

div.dest input {width: 100%; font-size: 25px}
div.submit input {font-size: 15px;}

/*articles in our suggestions list*/
.suggestions {
	display: flex;
	margin: 10px auto;
	grid-gap: 6px;
	width: 100%;
	height:auto;
	justify-content: left;
	flex-wrap: wrap;
}

.article {
	height: 300px;
	width:280px;
	padding: 10px; 
	margin:10px;
	overflow: hidden;
	background-color: slategrey;
}

.article h3 {
	display: block;
	padding:0; 
	margin:0;
	text-align: center;
}

/*must make sure when col resizes, image is centered*/
.article .image {
	width: auto;
	height: 150px;
	background-image: url(./volcano.JPG);
	background-position:50% 50%; 
	background-size:cover; 
}

.article p {
	display: block;
	font-size: 14px;
}

/*footer mailing list and shit*/

footer {
	background-color: lightblue;
}

.references {
	padding:10px;
}

.references h4 {
	font-size: 20px;
	padding:0;
	margin:0;
}

.subscribe {
	background-color: white;
	height: 70px;
	padding: 10px;
}

.subscribe h3 {
	margin:0;
	margin-bottom: 5px;
	padding:0;
}
.subscribe p {
	display: inline-block;
	margin:0;
	padding:0;
	height:30px;
}
.subscribe input {
	display: inline-block;
	margin:0;
	padding:0;
	font-size: 20;
	width:60%;
	height:30px;
}

div.final {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

div.accessibility {
	display:flex;
	justify-content: right;
	align-items: center;
}
.copyright {
	display: inline-block;
	padding:0;
	margin:0;
}

.accPrompt {
	display: inline-block;
	padding:0;
	margin:10px;
	width:170px;
}

.accessibility nav select {
	display: inline-block;
	padding:0
	margin:10px;
	float:right;
}
